.line{
    text-decoration: line-through;
}
.lebal{
    display: block;
    height: 48px;
    position: relative;
    text-indent: 2em;
    .item-content{
    }
    .icon-delete{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        top:11px
    }
}