.isActive{
    text-decoration: line-through
}
.list-content{
    .content-items{
        .content-item{
            text-indent:2em;
            position: relative;
            height: 48px;
            line-height: 48px;
            .icon-delete{
                position: absolute;
                right: 33px;;
                top:11px;
                width: 20px;
                height: 20px;
            }
        }
    }
}