.list-todos{
    width: 50%;
    margin-left:auto;
    background-color: gray;
    .list-todo{
        display: block;
        height: 48px;
        line-height: 48px;
        border-bottom: solid 1px #fff;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        .icon-lock{
            position: absolute;
            left: 13px;
            top:16px;
            width: 20px;
            height: 20px;
            object-fit: cover
        }
        .title{
            margin-left:66px;
            margin-right:20%;
        }
        .count-list{
            position: absolute;
            right:15px;
            top:14px;
            width: 20px;
            height: 20px;
            line-height: 16px;
            border-radius: 50%;
            background-color: red;
            text-align: center;
        }
    }
    .add{
        display: block;
        height: 48px;
        line-height: 48px;
        color: #5db9ff;
        cursor: pointer;
        text-align: center;
    }
}